<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="img/setup.png" alt="logo" style="width:100px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
            <a class="nav-link" href=""><i class="fab fa-whatsapp fa-2x"></i> 56 10 04 08 09</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=""><i class="fas fa-envelope fa-2x"></i>
            setupinc2@gmail.com</a>
        </li>
      </ul>
    </div>
  </nav>
