<!DOCTYPE html>
<html>

<% include partes/head.html%>

<body>

    <% include partes/navegador.html%>
<div class="container py-5">
   <!--Header-->
   <header class="main-header"> 
        <div class="background-overlay text-secundary link">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <h1>Unete a nosotros y comienza a generar ganancias.</h1>
                            <h5>El mercado esta cambiando, lo que significa que es necesario evolucionar.
                                Ten la oportunidad de ofrecer a tus clientes nuevos servicios como son;
                                recargas y pagos online.</h5>

                                <a href="" class="btn btn-success btn-lg text">
                                    COMENZAR AHORA
                                </a>
                                <br>

                                <p><div class="text-success">¿Tienes dudas llamanos? <i class="fab fa-whatsapp fa-2x"></i> 56 10 04 08 09</div></p>
                    </div>
                    <div class="col-md-6">
                        <img src="img/iphone-2.png" alt="Celular" class="img-fluid d-none d-sm-block">
                    </div>

                </div>
            </div>
        </div>
    </header>
</div>

<!--Porqué este prducto-->

<section class= "bg-primary">
        <div class="container py-5">
            <div class="row">
                    <div class="col-md-6 text-light text-left pl-4">
                        <h4>Beneficos </h4><br>
                            <h1>¿Por qué ampliar tus servicios?</h1>
                            <h5>Vivimos en una generación que avanza rapido, por lo tanto
                                puedes innovar tu negocio de manera sencilla, dandole el facil 
                                acceso a tus consumidores para recargar tiempo aire y realizar
                                sus pagos de servicios.
                            </h5>
                            
                    </div>

                    <div class="col-md-6 text-light text-left pl-4">
                        <br><br><h1>¿Por qué Setup es tu mejor opción</h1>
                        <h5>Te da la oportunidad de vender recargas en todo México, no importa 
                            el estado, ciudad o región. Contamos con una plataforma amigable que te
                            permitirá administrar tus cuentas.
                        </h5>
                        <h5>Estamos aquí para ayudarte.</h5>
                        <p>Puedes contartar con nuestro soporte de ventas</p>
                        <h5><i class="fab fa-whatsapp fa-2x"></i> 56 10 04 08 09</h5>
                    </div>
            </div>
        </div> 
</section>



<!--Porqué este prducto2-->

<section class= "">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-6 text-left pl-4">
                     <h4>Ganancias</h4>
                        <h1>Las comisiones de tus ventas son del 6% en todas las compañias.</h1>
                        <h4>Que no te engañen con comisiones irreales.</h4>
                </div>

                <div class="col-md-6 pl-4">
                        <img src="img/cell-phone.png" alt="Celular" class="img-fluid d-none d-sm-block">
                </div>
        </section>

<!--Porqué este prducto-->

<section class= "bg-light">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-6 text-left pl-4">
                    <h4>Comenzar</h4>
                     <h1>Registrate hoy mismo.</h1>
                        <h4>Solo debes llamar para crear una cuenta, establecer la cantidad con la que quieres
                            comenzar a vender, luego podras comenzar a ganar por cada recarga.</4><br><br>
                            <a href="" class="btn btn-success btn-lg text">
                                COMENZAR AHORA
                            </a><br>
                </div>

                <div class="col-md-6 text-justify-left pl-4">
                     <h1>Estamos para ayudarte, llama hoy mismo para crear tu cuenta.</h3>
                        <h5>Con una inversión minima.</h5>
                        <h6><i class="fab fa-whatsapp fa-2x"></i> 56 10 04 08 09</h6>
                        <p>* Asistencia telefónica gratuita (lun-vie 9:00 am a 6:00 pm) para configuración de cuenta </p>



                </div>
            </div>
        </div> 
    </section>

<% include partes/footer.html %>

</body>

</html>